@model WebApplication.Models.ShowRatingsModel
@{
    ViewBag.Title = "ShowRatings";
}

<h2>ShowRatings</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Album</th>
            <th>Album rating</th>
            <th>Number of ratings</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var t in Model.Ratings)
        {
            <tr>

                <td>@t.ArtisName </td>
                <td>@t.AlbumName </td>
                <td>@t.Rating </td>
                <td>@t.RatingsCount</td>
            </tr>
        }
    </tbody>
</table>