@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        A website for browsing and rating music albums. This application was part of my bachelors thesis. Recently i have started to rebuilding it from scratch (no old code remained) this is why its in a rough state.
        It never meant to hit production state i made it only to learn ASP.NET, WCF and recently unit testing. Front end is something i will focus on at a much later stage.
    </p>

    <p>Sample testing accouts to log in:</p>
    <p>To log in as Admin  username:user2 password:123</p>
    <p>To log in as User username:user3 password:123</p>

   

</div>

